<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <form>
                <div>
                    <input type="text" ref="inputmask1" v-model="value" />
                    {{ value }}
                </div>
                <div>
                    <input type="text" ref="inputmask2" v-model="phone" />
                    {{ phone }}
                </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="dist/jquery.inputmask.js"></script>
        <script src="dist/inputmask.js"></script>
        <script src="dist/inputmask.binding.js"></script>
        <script src="./index.js"></script>
    </body>
</html>
